<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://mybatis.org/schema/mybatis-spring
       https://mybatis.org/schema/mybatis-spring.xsd ">

    <mybatis-spring:scan base-package="com.kdd9512.SpringMVCRE3.mapper"/>
    <context:component-scan base-package="com.kdd9512.SpringMVCRE3.*"/>
    <context:component-scan base-package="com.kdd9512.SpringMVCRE3.service"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <!-- log4jdbc 를 이용하는 경우 이하와 같이 작성. -->
        <property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
        <property name="jdbcUrl" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="book_ex"/>
        <property name="password" value="hwhw9512"/>
    </bean>

    <bean id="dataSource" destroy-method="close"
          class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>